title How
meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no, shrink-to-fit=no')

//- Webpage details
meta(name='author', content='Sachin Kodagoda')
meta(name='keywords', content='Java Script, Js , ES2015, ES2016, ES2017, ES2018, Tutorials ')
meta(name='description', content='Java Script Tutorials')

//- Chrome, Firefox OS and Opera
meta(name='theme-color', content='#000')
meta(name='apple-mobile-web-app-status-bar-style', content='#000')

//- Favicon
link(rel='icon', href='/assets/img/favicon.ico', type='image/x-icon', sizes='16x16')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,600,900')
script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js")

//- css
link(rel='stylesheet', href='assets/css/main.css')
