
.wrapper
    max-width: $xxxlarge-min
    margin: 0 auto

.card
    box-shadow: inset $box-shadow
    // background: #ccc
    background: #f5f5f5
    border-radius: 10px

.ex_padding
    padding: 8px

.topic
    font-size: 24px
    font-weight: 900
    text-align: center
    margin: 16px 0 8px 0


.code
    padding: 16px
    width: 100%
    height: 100%
    font-family: $coders-font
    transition: all .2s ease-in-out

    &_title
        background: #2F0048
        color: #fff
        text-align: center
        font-size: 20px
        height: 40px
        line-height: 40px
        // margin-bottom: 4px
        border-radius: 10px 10px 0 0
    &_body
        text-align: left
        padding: 16px
        // border: 1px solid $primary-border
        background: #fff
        outline: none
        border-left: 4px solid #2F0048
        border-right: 4px solid #2F0048
        white-space: normal
        box-shadow: 0 4px 10px 0 rgba(0,0,0,.2)
        // border-radius: 0 0 10px 10px
        overflow: auto
    &_body_subtitle
        background: #2D3047
        color: #fff
        text-align: center
        border-left: 4px solid #2F0048
        border-right: 4px solid #2F0048
        font-size: 16px
        height: 30px
        line-height: 30px

.code_active
    white-space: nowrap

.note
    color: $dark-red
    padding: 10px
    &_tag
        color: $black
        font-weight: 600
.link
    color: #345B93

.highlight_word
    // background: #0077AA
    // padding: 0 5px
    color: #345B93
.round_bottom_border
    border-radius: 0 0 10px 10px
    border-bottom: 4px solid #2F0048